{%extends "themepage.html"%}
{%block title%} ABOUT {%endblock%} 


{%block body%}


<div class="bgimg-1">
  <div class="caption">
  <span class="border">CANCER DETECTION USING AI</span>
  <br>
  <br>
  <br>
  <br>
  <span class="border2">SCROLL DOWN</span>
  </div>
  </div>
  
  <div style="color: white;background-color:black;text-align:center;padding:50px 80px;text-align:justify;">
  <h3 style="text-align:center; color:white;">TECHNOLOGY DISCRIPTION</h3>
  <br>
  <p>
  In computer science, artificial intelligence (AI), sometimes called machine intelligence, is intelligence demonstrated by machines, 
  in contrast to the natural intelligence displayed by humans and animals. Computer science defines AI research as the study of "intelligent agents": 
  any device that perceives its environment and takes actions that maximize its chance of successfully achieving its goals. 
  Colloquially, the term "artificial intelligence" is used to describe machines that mimic "cognitive" functions that humans associate with other human minds, 
  such as "learning" and "problem solving".
  </p>
  <p>
  Artificial Intelligence and Machine Learning is opening paths for the future. 
  Machine Learning can be used in a large amount of possible applications. 
  One of the most useful application of AI and ML is in the field of medicine.
  </p>
  </div>
  
  <div class="bgimg-2">
  <div class="caption">
  <span class="border">CANCER</span>
  </div>
  </div>
  
  <div style="color: white;background-color:black;text-align:center;padding:50px 80px;text-align:justify;">
  <h3 style="text-align:center; color:white;">CANCER DISCRIPTION</h3>
  <br>
  <p>
  Cancer is a disease which is caused by the normal cells which get mutated. 
  Most of the times the body detects and destroys these cells. 
  But when these cells go undetected, they become cancerous and start their metastasis.
  </p>
  <p>
  Metastasis is the spread of cancer cells to different areas of the body. 
  The spread can take place through blood vessels, through nearby tissues or through lymphatic system.
  </p>
  </div>
  
  <div class="bgimg-3">
  <div class="caption">
  <span class="border">CANCER DETECTION WITH AI</span>
  </div>
  </div>
  
  <div style="color: white;background-color:black;text-align:center;padding:50px 80px;text-align:justify;">
  <h3 style="text-align:center; color:white;">PROJECT DISCRIPTION</h3>
  <br>
  <p>
  In this project, Machine Learning has been used to build a model that can be used to help the doctors in detecting the cancer cells. 
  This project aids the histopathologists to determine whether the cell under detection is cancerous or not. 
  Histopathologists are doctors who examine tissues under a microscope, searching for changes in the cells. </p>
  <p>
  By using this project, the time and effort utilized in detecting and classifying the cancer cells can be reduced to a great extent. 
  It will be a very helpful tool for histopathologists to detect cancer images from a huge data. 
  </p>
  <p>
  Early detection of cancer can save many human lives. 
  The accuracy of the model used in the project is 0.9, that is the result is 90 per cent accurate.
  </p>
  </div>
  
  
  <div class="bgimg-1">
  <div class="caption">
  <span class="border">THANK YOU!</span>
  </div>
  </div>
  
  
{%endblock%}


